!!!
%html
  %head
    %title Drink Stats
    %script{:type => "text/javascript", :src  => "/js/raphael.js"}
    %script{:type => "text/javascript", :src  => "/js/g.raphael-min.js"}
    %script{:type => "text/javascript", :src  => "/js/g.pie-min.js"}
    %script{:type => "text/javascript"}
      window.onload = function () {
      = yield_content :javascript
      };
  %body
    = yield
